In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as mp

In [38]:
mail = pd.read_csv('C://Users//T.R.BASUDE//Downloads//SPAM_text.csv')
mail.shape
mail.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [48]:
mail.describe()

        Category                 Message
count       5572                    5572
unique         2                    5157
top            1  Sorry, I'll call later
freq        4825                      30

In [101]:
mail.tail()

     Category                                            Message
5567        0  This is the 2nd time we have tried 2 contact u...
5568        1               Will ü b going to esplanade fr home?
5569        1  Pity, * was in mood for that. So...any other s...
5570        1  The guy did some bitching but I acted like i'd...
5571        1                         Rofl. Its true to its name

In [55]:
mail.loc[mail['Category'] =='spam','Category',]=0

In [56]:
mail.loc[mail['Category']=='ham','Category',]=1

In [71]:
X=mail['Message']
Y=mail['Category']

In [72]:
X.head()

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
2    Free entry in 2 a wkly comp to win FA Cup fina...
3    U dun say so early hor... U c already then say...
4    Nah I don't think he goes to usf, he lives aro...
Name: Message, dtype: object

In [73]:
Y.head()

0    1
1    1
2    0
3    1
4    1
Name: Category, dtype: object

In [74]:
from sklearn.model_selection import train_test_split

In [75]:
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.2,random_state=3)

In [80]:
#transform the text data to feature vectors that can be used as input to the svm model using TfidfVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [90]:
# convert the data to lower case
feature_extraction = TfidfVectorizer(min_df=1,stop_words='english',lowercase=True)
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)


#convert Y_train and Y_test to integers as 1 and 0 sometimes considered as string
Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [92]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
model= LinearSVC()
model.fit(X_train_features, Y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [94]:
pred_on_train = model.predict(X_train_features)
accuracy= accuracy_score(Y_train,pred_on_train)
accuracy

0.9993269015032533

In [96]:
pred_on_test = model.predict(X_test_features)
accuracy1= accuracy_score(Y_test,pred_on_test)
accuracy1

0.9820627802690582

In [108]:
# prediction on new mail
input_mail = ["Had your mobile 11 months or more? U R entitled to Update to the latest colour mobiles with camera for Free! Call The Mobile Update Co FREE on 08002986030"]
input_mail_features= feature_extraction.transform(input_mail)
input_mail_features

<1x7431 sparse matrix of type '<class 'numpy.float64'>'
	with 10 stored elements in Compressed Sparse Row format>

In [109]:
pred = model.predict(input_mail_features)
pred
if (pred[0]==1):
    print("Ham Mail")
else:
    print("spam mail")

spam mail